*{
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
}
input,button{
    -webkit-appearance:none;
    appearance:none;
    display:block;
}
form{
    padding:20px;
    border-bottom:1px dashed #999;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
form input[type="text"]{
    border:none;
    border-bottom:1px dashed #999;
    padding:5px;
    width:500px;
    text-align:center;
}
form input[type="submit"]{
    background-color:transparent;
    border:1px solid #333;
    border-radius:5px;
    padding:10px 15px;
    margin-top:20px;
}
.tareas{
    width:500px;
    margin:20px auto;
}
.tarea{
    padding: 20px;
    border:1px solid #333;
    border-radius:20px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin-bottom:20px;
}
.tarea h2,.tarea input{
    font-size:2em;
    color:#333;
    width:100%;
    font-weight:normal;
    display:none;
}
.tarea input{
    border:none;
    border-bottom:1px dashed #333;
    padding-bottom:5px;
}
.tarea .visible{
    display:block;
}
.tarea .boton{
    background-color:transparent;
    border:1px solid #333;
    border-radius:5px;
    padding:10px 15px;
    margin-top:20px;
}
.tarea .estado{
    border:none;
    width:50px;
    height:20px;
    background-color:#333;
    border-radius:10px;
    margin-top:20px;
    position:relative;
}
.tarea .estado span{
    display:block;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#c00;
    position:absolute;
    left:0;
    top:0;
    transition:left 0.6s, background-color 0.9s;
}
.tarea .terminada span{
    background-color:#0c0;
    left:30px;
}
.tarea button:not(:last-child){
    margin-right:20px;
}